body{
  position: relative;
  top: 60px;
   height: 100vh;
   display:flex;
   flex-direction:row;
}
.tools{
  border:1px solid black;
  position: relative;
  top: 40px;
  margin-top: 40px;
  margin-left: 20px;
  width:50px;
  padding: 20px;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:1000px;
}
.tools button{
  text-align:center;
  padding:3px;
  border:none;
  background:none;
}
.tools p{
  text-align:center;
  width:100%;
  
}
input[type=color] {
  background:#CAD5E2;
  width:50px;
  height:50px;
  border-radius: 50px;
}
input[type=range] {
  position: relative;
  left:0;
  margin-top: 10px;
  margin-right: 10px;
  width:60px;
}
.tools p label{
  width:10px;
  padding: 10px;
}
#container {
    margin-left: 20px;
  left: 30px;
  position: relative;
  width: 90%;
  height: 100%;
  max-width: 900px;
  cursor: pointer;
}
#imageView {
  border: 1px solid #000;
  /* background-color: aqua; */
}
#imageTemp {
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: crosshair !important;
  z-index: 200;
}
#canvasBg {
    /* height: 100%; */
  top: 0%;
  left: 0%;
  /* transform: translatex(-50%) translatey(-50%); */
  background-size: 50px;
  position: absolute;
  z-index: -1;
}