body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.board {
    display: flex;
    background: #803c3c;
    width: 100vw;
    height: 100vh;
}

button {
    width : 170px;
    height: 70px;
    margin: 10px 20px;
    font-size: 30px;
    border-radius: 80px;
    border-style: none;
    color: white;
    font-weight: 400;
    border-radius: 50px;
    background: #803c3c;
    box-shadow:  -19px 19px 38px #482222,
                    19px -19px 38px #b85656;
}

.vert-tool-bar {
    position: fixed;
    left: 0;
    background: black;
    /* position: fixed; */
}
.tools {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #803c3c;
    padding: 20px 3px;
    height: 100%;
}

#canvas{
    /* border: 5px solid yellow; */
    border-radius: 60px;
    background: #803c3c;
    box-shadow:  -19px 19px 38px #482222,
                19px -19px 38px #b85656;
    margin-top: 200px;
    margin-left: 200px;
    align-self: center;
    /* max-width: 900px; */
    z-index: -1;
}

.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid white;
    margin: 0 15px;
}

.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.color-picker {
    align-self: center;
    height: 40px;
}

.pen-range {
    align-self: center;
    margin: 0 10px;
}
#field {
	/* border: 10px solid gray; */
    width: 100vw;
	height: 100vh;
	display: flex;
}

#tmp_canvas {
    background:transparent;
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0px;
	cursor: crosshair;
    /* border:3px solid purple; */
}
.text{
    text-align: center;
    align-self: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    border: 2px solid white;
} 

.info {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tool:hover .info {
    visibility: visible;
  }

  .popover__wrapper {
    position: relative;
    margin-top: 2.5rem;
    display: inline-block;
  } 
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 25px 0;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper::hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }